body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width:20%;
    margin: 0 auto;  

}

td {
    text-align: center;
}

input, button {
    margin-top: 10px;
    margin-bottom: 10px;
    width:80%;
}

.pointer:hover {
    cursor: pointer;
}

.login-link {
    font-weight: bold;
    font-size: 1.3rem;
}

#firstName {
    display: none;
}

#lastName {
    display: none;
}

.create-account-validation-name,
.create-account-validation-lastName,
.create-account-validation-email,
.create-account-validation-password {
    color: red;
    font-size: 12px;
}